@import './sass/navbar';
@import './sass/content';
@import './sass/variables';
@import './sass/mixins';


.App {
  text-align: center;
  overflow-y: scroll;
  overflow-x: hidden;
  max-width: 100vw;  
  
  &::-webkit-scrollbar{
    display: none;
  }
}
